
<div style="display: relative; height: 99%; width: 100%;">
  <div style="position: absolute;height: 30%; width: 10%;margin-top: 25%;margin-left: 80%; background-color: #bebdb8; text-align: center;">
    <br><h1 style="">Legend</h1>
  </div>
  
  <iframe
    width="100%"
    height="99%"
    style="border:0"
    loading="lazy"
    allowfullscreen
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBV529FSe4xKLycn2nglxF6msCC73Oiitg&q=18.564566208470275,73.8567437&q=20.564566208470275,73.8567437"> -->
  </iframe>
</div>

