
<div style="display: relative; height: 99%; width: 100%;">
    <div style="position: absolute;height: 30%; width: 10%;margin-top: 25%;margin-left: 80%; background-color: rgb(224, 223, 223);  opacity: 0.8;text-align: center;">
      <br><h1 style="">Legend</h1>
    </div>
    
    <iframe
      width="100%"
      height="99%"
      style="border:0"
      loading="lazy"
      allowfullscreen
      src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBV529FSe4xKLycn2nglxF6msCC73Oiitg&origin=aundh+pizza+hut
      &destination=Mango+sweets+baner
      &avoid=tolls|highways"> 
    </iframe>
    <iframe
    width="100%"
    height="99%"
    style="border:0"
    loading="lazy"
    allowfullscreen
    src="https://www.google.com/maps/embed/v1/directions?key=AIzaSyBV529FSe4xKLycn2nglxF6msCC73Oiitg&origin=Mango+sweets+baner
    &destination=aundh+pizza+hut
    &avoid=tolls|highways"> 
  </iframe>
  </div>
  
  